.orderlist-top {
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom: 0.5px red;
}
.orderlist-content {
  height: calc(100vh - 55px - 77px);
  top: 55px;
  overflow: scroll;
}
.orderlist-navibar {
  margin-top: 10px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
