@import "../../../base.less";

.cart-root {
  display: flex;
  flex-direction: column;
  height: 140px;
  background-color: white;
  border-top: solid 1px #bbba;
}

.cart-top {
  height: 60px;
  line-height: 60px;
  display: flex;
}

.cart-bottom {
  height: 80px;
}

.cart-number {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: @theme-color;

  color: white;
  float: left;
  margin-left: 30px;
  margin-top: -20px;
}

.cart-badge {
  margin-left: 50px;
  margin-top: -40px;
}

.cart-info {
  margin-left: 10px;
}

.cart-info-number {
  color: @theme-color;
  font-size: 24px;
  margin-left: 10px;
}

