.cart-root {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: white;
  border-top: solid 0.5px #bbba;
}
.cart-top {
  height: 60px;
  line-height: 60px;
  display: flex;
}
.cart-bottom {
  border-top: solid 0.5px #bbba;
  height: 80px;
}
.cart-number {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #0F8EE9;
  float: left;
  margin-left: 30px;
  margin-top: -20px;
  text-align: center;
  line-height: 7;
}
.cart-badge {
  margin-left: 30px;
  margin-top: -290px;
}
.cart-info {
  margin-left: 10px;
}
.cart-info-number {
  color: #0F8EE9;
  font-size: 24px;
  margin-left: 10px;
}
.cart-info-number-second {
  margin-left: 2px;
}
.cart-items {
  height: 240px;
  background-color: olivedrab;
}
