.backdrop {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.modal {
  background-color: #ffffff;
  margin: 0px auto;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  transition: 1s;
}
