@import "../../static/css/base.less";

.infoex-header {
  height: 90px;
  background-color: @theme-color;
  color: white;
  text-align: center;
  line-height: 90px;
}

.navibar{
  position: absolute;
  width: 100%;
  bottom: 0
}