@import "../../base.less";

.info-tips {
  text-align: center;
  margin-top: 10px;
  color: #D8D8D8;
}

.infoex-header {
  height: 90px;
  background-color: @theme-color;
  color: white;
  text-align: center;
  line-height: 90px;
}