body {
  background-color: #F5F5F5;
  color: #6E6E6E;
}
.navibar {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container {
  display: flex;
  flex-direction: row;
}
.minus {
  margin-right: 5px;
  background-color: #E1373E;
  width: 30px;
  height: 30px;
  line-height: 24px;
  color: white;
  border-radius: 30px;
  font-size: 28px;
}
.number_input {
  margin-right: 5px;
  width: 30px;
  text-align: center;
}
.plus {
  background-color: #0F8EE9;
  width: 30px;
  height: 30px;
  line-height: 24px;
  color: white;
  border-radius: 30px;
  font-size: 28px;
}
