@import "../../../base.less";

@width: 30px;
@height: 30px;
@line-height: 24px;
@color: white;
@border-radius:30px;
@font-size: 28px;

.container {
  display: flex;
  flex-direction: row;
}

.minus {
  margin-right: 5px;
  background-color: #E1373E;
  width: @width;
  height: @height;
  line-height: @line-height;
  color: @color;
  border-radius:@border-radius;
  font-size: @font-size;
}

.number_input {
  margin-right: 5px;
  width: 30px;
  text-align: center;
}

.plus {
  background-color: @theme-color;
  width: @width;
  height: @height;
  line-height: @line-height;
  color: @color;
  border-radius:@border-radius;
  font-size: @font-size;
}

