body {
  background-color: #F5F5F5;
  color: #6E6E6E;
}
.navibar {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navi-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.navi-btn {
  flex: auto;
  margin-left: 10px;
  margin-right: 10px;
}
